@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

/* Reset de css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Schibsted Grotesk", serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color:rgb(26, 26, 88);
    padding: 1rem;
    font-size: 20px;
}
.navbar-brand{
    color: white;
    font-size: 25px;
    margin: 0;
}

.navbar-toggler {
    border-color: white;
}

.material-symbols-outlined {
    color: white;
}

.nav-link{
    color: white;
    display: flex;
}
.nav-link:hover{
    color: red;
    text-decoration: underline;
}
.navbar-brand:hover{
    color: white;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler-icon {
    color: white;
}


main {
    background-color: #f0f0f0;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border: 2px solid #ccc;
    flex-grow: 1;
}

footer {
    background-color: rgb(26, 26, 88);
    color: white;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: max-content;
    grid-template-areas:
    "textoFooter instagramFooter wspFooter";
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-size: 30px;
}

footer a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: red;
    text-decoration: underline;
}

.texto-footer {
    grid-area: textoFooter;
    font-size: 30px;
}

.instagram-footer {
    grid-area: instagramFooter;
}

.wsp-footer {
    grid-area: wspFooter;
}

/* index */
.inicio h2 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.inicio h3 {
    text-align: center;
    font-size: 25px;
    color: grey;
    text-decoration: underline;
    padding: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.galeria-items img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.galeria-items {
    width: 100%;
    max-width: 350px;
    text-align: center;
    border: 1px solid gray;
    font-size: 25px;
    border-radius: 5px
}

/* pagina proceso */

.pasos-contenido {
    text-align: center;
    margin: 20px;
}

.pasos div h3 {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}

.pasos div img {
    max-width: 350px;
    border: 1px solid gray;
    font-size: 25px;
    border-radius: 5px;
}

.pasos div p {
    text-align: center;
    font-size: 20px;
}

/* pagina servicio */

.servicio-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border: 2px solid black;
    flex-grow: 1;
}

.servicio div h4 {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}

.servicio div img {
    max-width: 350px;
    border: 1px solid gray;
    font-size: 25px;
    border-radius: 5px;
}

.servicio div p {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

/* pagina contacto */
.contacto h2{
text-decoration: underline;
margin: 10px;
}

.contacto p{
    font-size: 20px;
    padding: 10px;
}

.contacto-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border: 2px solid black;
    flex-grow: 1;
}

.dia{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    flex-grow: 1;
    border: 1px solid black;
    background-color: rgb(26, 26, 88);
    color: white;
}
.dia h3{
    font-size: 30px;
}
.dia p{
    font-size: 25px;
    margin: 5px;
}

.horario-item {
    margin: 2rem;
    padding: 2rem;
    border: 2px solid black;
    flex-grow: 1;
    text-align: center;
}

/* pagina conocenos */
.contenedor-grid img{
    width: 100%;
    height: 100%;
}
.contenedor-grid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50px 300px 300px 350px;
    grid-template-areas:
    "titulo titulo titulo"
    "foto1 texto3 texto3"
    "foto2 texto2 texto2"
    "foto3 texto4 texto4";
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.grid-texto-1{
    grid-area: titulo;
    text-decoration: underline;
    font-size: 40px;
    padding: 20px;
}
.grid-img-1{
    grid-area: foto1;
    padding: 5px;
}
.grid-texto-2{
    grid-area: texto2;
    margin: 40px;
    font-size: 25px;
}
.grid-img-2{
    grid-area: foto2;
    padding: 5px;
}
.grid-texto-3{
    grid-area: texto3;
    font-size: 30px;
}
.grid-img-3{
    grid-area: foto3;
    padding: 5px;
}
.grid-texto-4{
    justify-self: center;
    grid-area: texto4;
    font-size: 20px;
}
/* envios */
.detalle-envio{
    margin: 10px;
    padding: 10px;
}
.detalle-devolucion{
    margin: 10px;
    padding: 10px;
}


@media (max-width:500px){
    /*INICIO*/
    .inicio h2 {
        text-align: center;
        font-size: 20px;
    }
    
    .inicio h3 {
        text-align: center;
        font-size: 18px;
        padding: 20px;
    }

    .galeria-items {
        width: 100%;
        max-width: 350px;
        text-align: center;
        border: 1px solid gray;
        font-size: 15px;
        border-radius: 5px;
        padding: 10px;
    }

    /*CONOCENOS*/
    .contenedor-grid {
        grid-template-columns: 75%;
        grid-template-rows: 150px 150px 150px 150px;
        grid-template-areas:
        "titulo"
        "foto1"
        "texto3"
        "foto2"
        "texto2"
        "foto3"
        "texto4";
    }

    .grid-texto-1{
        grid-area: titulo;
        font-size: 20px;
        padding: 5px;
        text-align: center;
    }

    .grid-texto-2 {
        font-size: 22px;
        text-align: center;
    }

    .grid-texto-3 {
        font-size: 15px;
        text-align: center;
    }

    .grid-texto-4 {
        text-align: center;
    }

    .grid-img-1{
        grid-area: foto1;
        padding: 5px;
    }

    .grid-img-4 {
        display: none;
    }

    /*FOOTER*/

    footer {
        background-color: rgb(26, 26, 88);
        color: white;
        display: grid;
        grid-template-columns: 75%;
        grid-template-rows: 50px 50px 50px;
        grid-template-areas:
        "textoFooter"
        "instagramFooter"
        "wspFooter";
        justify-content: center;
        padding: 1rem;
        align-items: center;
        font-size: 15px;
    }

    .texto-footer {
        text-align: center;
        font-size: 15px;
    }

}

