footer {
    background-color: rgb(26, 26, 88);
    color: white;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: max-content;
    grid-template-areas:"tfextoFooter instagramFooter wspFooter";
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-size: 30px;
    .texto-footer {
        font-size: 2rem;
    }  
    a {
        display: flex;
        justify-content: right;
        color: white;
        text-decoration: none;
    }    
    a:hover {
        color: red;
        text-decoration: underline;
    }    
    .instagram-footer {
        grid-area: instagramFooter;
    }    
    .wsp-footer {
        grid-area: wspFooter;
    }
}