@media (max-width:500px) {

    //INICIO
    .inicio {
        h2 {
            text-align: center;
            font-size: 20px;
        }
        p{
            font-size: 1rem;
        }

        h3 {
            text-align: center;
            font-size: 18px;
            padding: 20px;
        }

        .galeria-items {
            width: 100%;
            max-width: 350px;
            text-align: center;
            border: 1px solid gray;
            font-size: 15px;
            border-radius: 5px;
            padding: 10px;
        }
    }

    //CONOCENOS
    .contenedor-grid {
        grid-template-columns: 75%;
        grid-template-rows: 150px 150px 150px 150px;
        grid-template-areas:
            "titulo"
            "foto1"
            "texto3"
            "foto2"
            "texto2"
            "foto3"
            "texto4";
        }
        h2 {
            grid-area: titulo;
            font-size: 20px;
            padding: 5px;
            text-align: center;
        }

        p {
            font-size: 1rem;
            text-align: center;
        }

        h3 {
            font-size: 15px;
            text-align: center;
        }

        .grid-texto-4 {
            text-align: center;
            font-size: 1rem;
        }

        .grid-img-1 {
            grid-area: foto1;
            padding: 5px;
        }

        .grid-img-4 {
            display: none;
        }
    }

    //SERVICIOS

    .servicio {
        img {
            width: 100%;
            max-width: 350px;
            font-size: 12px;
            border-radius: 2px;
        }
            h2 {
                font-size: 1rem;
                margin: 1rem;
            }

            h3 {
                font-size: 1rem;
                margin: 1rem;
            }

            h4 {
                font-size: 1rem;
                margin: 1rem;
            }

            p {
                font-size: 1rem;
                margin: 1rem;
            }
        }
    

    //PROCESOS

    .pasos-contenido {
        img {
            width: 100%;
            max-width: 350px;
            font-size: 12px;
            border-radius: 2px;
        }

        p {
            text-align: center;
            font-size: 20px;
        }
    }

    //CONTACTO
    .contacto{
    p {
        font-size: 1rem;
        padding: 1rem;
    }
        .contacto-item {
            font-size: 2rem;
        }

        .dia {
            font-size: 1rem;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
            padding: 1rem;
            flex-grow: 1;
        }

        .dia h3 {
            font-size: 1rem;
        }
    }

    //ENVIO
    .detalle-envio img {
        width: 100%;
        max-width: 350px;
    }

    .detalle-devolucion img {
        width: 100%;
        max-width: 350px;
    }

    //FOOTER

    footer {
        background-color: rgb(26, 26, 88);
        color: white;
        display: grid;
        grid-template-columns: 75%;
        grid-template-rows: 50px 50px 50px;
        grid-template-areas:
            "textoFooter"
            "instagramFooter"
            "wspFooter";
        justify-content: center;
        padding: 1rem;
        align-items: center;
        font-size: 15px;

        .texto-footer {
            text-align: center;
            font-size: 15px;
        }
    }
    